{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CipherVault</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body class="bg-info">

    <nav class="navbar bg-primary shadow-lg">

        <div class="container">
            <a class="navbar-brand" href="">
                <h1 class="text-danger" "><i class="bi bi-lock-fill"></i>CipherVault</h1><h6 class="text-dark">#Safeguarding Your Secrets</h6>
            </a>
        </div>
    </nav>

    {% if code %}
    <div class="container bg-transparent text-center mt-5">
        <p class="fs-3 fw-bolder pt-5">{{text}}</p>
        <a href="/">
            <button type="button" class="btn btn-warning mt-5">Continue</button>
        </a>
    </div>
    {% endif %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>